@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background: #fff;
  color: #000;
  font:
    1rem/1.4 Inter,
    Times,
    "Times New Roman",
    serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  max-width: 800px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 4px;
  text-align: center;
}

#tagline {
  color: #6c6c6c;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
}

@media (max-width: 764px) {
  #tagline {
    font-size: 0.875rem;
  }
}

#warning-callout {
  background: rgb(255, 213, 0);
  color: #000;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

@media (max-width: 764px) {
  #mobile-warning {
    font-weight: 700;
    padding-top: 16px;
  }
}

#content {
  padding-bottom: 16px;
}

#content p {
  margin: 0 0 1.25rem 0;
}

#archive-link {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

#footer {
  border-top: 1px solid #6c6c6c;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#attribution {
  flex-grow: 1;
}

#launch {
  background: #f00;
  border: 3px solid #000;
  color: #fff;
  font-size: 36px;
  padding: 0 5px;
  text-decoration: none;
  border-radius: 8px;
}
#launch:hover {
  background: #f99;
  color: #f00;
}

ul {
  margin-top: 0;
}

canvas {
  display: none;
}

#github-logo {
  width: 36px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  margin: auto;
}

#github-logo:hover {
  opacity: 1;
}
